nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
    text-align: center;
    width: 100%;
    margin-left: 0px;
  }
  
  nav.sidebar .navbar-nav > li{
    border-bottom: 1px #e5e5e5 solid;
  }
  
  nav.sidebar{
    height: 100%;
    float: left;
    margin-bottom: 0px;
  }
  
  nav.sidebar li {
    width: 100%;
  }
  
  .navbar-nav a{
    font-size:10px;
  }
  
  .navbar-nav>li>a {
    padding: 5px;
  }
  
  .nav {
    padding-bottom: 10px;
  }

  .navContainer {
    float: right;
  }
  
  .navbar-collapse {
    padding-right: 0px;
  }
  
  .title{
    text-align:center;
    border-bottom: 1px solid #e6e6e6;
  }
  
  a {
    text-decoration-color: transparent;
  }
  
  nav ul{
    max-height:300px;
    width:100%;
  }
  nav ul{
    overflow:hidden;
    overflow-y:scroll;
  }
  
  .aQuestion {
    text-decoration: none;
    color: #000;
  }
  
  .aQuestion:hover {
    text-decoration: none;
    color: #000;
  }